:root {
  --color-flora: #848170;
  --color-sage: #b1b09c;
  --color-ethereal: #d8daca;
  --color-bark: #2f2926;
  --color-cliff: #5a554c;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-ethereal);
}

.class-id {
  background-color: var(--color-flora);
  width: 250px;
  height: 600px;
  border-radius: 16px;
  box-shadow: 0 8px 40px rgba(47, 41, 38, 0.15);
  position: relative;
  top: 40px;
  left: 10px;
}

.class-id img.home-bg {
  position: relative;
  left: 65px;
  top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
